body {
    padding: 5px;
    font-size: 17px;
}

.container ul {
    display: inline-block;
    text-align: left;
    list-style-type: none;
    font-size: 24px;
}

.container li {
    margin: 6px;
}

button {
    padding: 2px;
    margin-left: 14px;
    border-radius: 3px;
    background-color: #99bdf7;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

button:hover {
    background-color: #84b0f6;
}