.websiteHeader h1{
    font-size: 55px;
    color: #192b6b;
    text-shadow: 1px 1px 1px #333131;
}

.websiteHeader img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.websiteHeader p {
    font-size: 18px;
}

.title {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}